[submodule "modules/utils/sqlutils"]
	path = modules/utils/sqlutils
	url = https://gist.github.com/ZenithClown/3fc21f94cf9567003b153bcfca738f6d.git
[submodule "modules/utils/dtutils"]
	path = modules/utils/dtutils
	url = https://gist.github.com/ZenithClown/d2dd294c5f528459e16b139c04c0b182.git
[submodule "modules/customize/wrappers"]
	path = modules/customize/wrappers
	url = https://gist.github.com/ZenithClown/df4391a8b0313eb808e9a0f4ef5c78ad.git
[submodule "modules/customize/prettyprint"]
	path = modules/customize/prettyprint
	url = https://gist.github.com/ZenithClown/c6b4c51de4d4dac564ecbe0e178955cb.git
